clang-3.0/*
!clang-3.0/debian
clang-3.0/debian/files
clang-3.0/debian/stamps
clang-3.0/debian/tmp-clang
clang-3.0/debian/clang-3.0*
clang-3.0/debian/libclang-3.0-common-dev*
clang-3.0/debian/libclang-3.0-dev*
clang-3.0/debian/libclang1-3.0*
*.deb
clang-3.0_*
